my_ssh        = "<your_ssh_key>"
cloud_id      = "<cloud_id>" #Credential from yandex cloud
folder_id     = "<folder_id>" #Credential from yandex cloud
key_file      = "<path to key.json>"
access_key    = "<your_access_key>" #Credential from aws
secret_key    = "<your_secret_key>" #Credential from aws
mail          = "<youe_email>"
task          = "<task_name>"
domain_name   = "<your_domain_name>"
instance_name = "<your_instance_name>"
zone          = "<zone_for_yandex.cloud"
private_ssh   = "<path_to_your_private_key"
devs = [<prefix1>-<login1>, <prefix2>-<login2>] #options of prefix are: lb, db, proxy. If you enter any other, it will be created with default parameters
